<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('common/header'); %>
</head>
<body class="container">

<header>
    <%- include('common/navbar'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is about me page</h1>
        <p></p>
    </div>
</main>

<footer>
    <%- include('common/footer'); %>
</footer>

</body>
</html>
