<!DOCTYPE html>
<html lang="en">
<head>

<! -- head -- >
<%- include('common/head'); %>
<! -- head -- >
</head><!--/head-->

<body>

<! -- header -- >
<%- include('common/header'); %>
<! -- /header-- >

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="action">
                    <div class="col-sm-12 text-center">
                        <h1 class="title">404 Not Found</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#action-->

<! -- footer -- >
<%- include('common/footer'); %>
<! -- footer -- >

</body>
</html>