<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('common/header'); %>
</head>
<body class="container">

<header>
    <%- include('common/navbar'); %>
</header>

<main>
    <div class="jumbotron">
        <h3 class="fs-3">I, Rahil Patel, welcomes you.</h3>
        <p>I am a student.</p>
    </div>
</main>

<footer>
    <%- include('common/footer'); %>
</footer>

</body>
</html>
