<!DOCTYPE html>
<html lang="en">
<head>

    <! -- head -- >
    <%- include('common/head'); %>
    <! -- head -- >
</head><!--/head-->

<body>

<! -- header -- >
<%- include('common/header'); %>
<! -- /header-- >

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">My Portfolio</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#action-->

<section id="portfolio">
    <div class="container">
        <div class="row">
            <ul class="portfolio-filter text-center">

                <div class="portfolio-items">
                    <div class="col-sm-6 portfolio-item branded magento">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="assets/projects/gyzs.png" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="portfolio-info">
                                <h2>GYZS - E-commerce Platform</h2>
                                <h2>Technology stack: Magento, EC2, Redis, Elasticsearch,PHP, MYSQL</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 portfolio-item branded ror">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="assets/projects/dinenow.png" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="portfolio-info">
                                <h2>Dinenow - Food Delivery platform (Microservice Architecture)</h2>
                                <h2>Technology stack: RoR, AWS Fargate, Docker,RabbitMQ, Serverless Lambda Function,
                                    MYSQL</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 portfolio-item branded Magento">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="assets/projects/gmu.png" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="portfolio-info">
                                <h2>GMU - Big Data analytics Platform</h2>
                                <h2>Technology stack: Laravel, AWS EC2, Docker,PostgresSQL</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 portfolio-item branded Magento">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="assets/projects/ivoo.png" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="portfolio-info">
                                <h2>Ivoo - E-commerce Store</h2>
                                <h2>Technology stack: Magento, AWS EC2, Docker,PostgresSQL, React Native, GraphQL</h2>
                            </div>
                        </div>
                    </div>


                </div>
        </div>
    </div>
</section>
<!--/#portfolio-->
<! -- footer -- >
<%- include('common/footer'); %>
<! -- footer -- >

</body>
</html>